{{$header}}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-tools lleft100">
                         <a href="developer-menus.html?action=list" class="btn btn-primary btn-xs">添加菜单</a>
                         <a href="developer-menus.html?action=list" class="btn btn-primary btn-xs">返回菜单管理列表</a>
                    </div>
                    <div class="ibox-content">
                        <table class="table me_table_data">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>菜单名称</th>
                                    <th>菜单链接</th>
                                    <th>操作权限</th>
                                    <th>排序</th>
                                    <th>状态</th>
                                    <th>下级菜单</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            {{foreach from=$data item=d key=k name=foo}}
                                <tr>
                                    <td>
                                    	<input type="checkbox" name="ckboxfoo" id="ckbox{{$smarty.foreach.foo.index+1}}" class="i-checks" value="{{$d.id}}">{{$d.id}}
									</td>
                                    <td>{{$d.name}}</td>
                                    <td>{{$d.url}}</td>
                                    <td>{{$d.action}}</td>
                                    <td><input type="text" id="exampleInputEmail2" class="form-control" style="width:80px;" value="{{$d.sort}}"></td>
                                    <td>
	                                    {{if $d.status=='Y'}}
	                                    <span class="label label-primary">启用</span>
	                                    {{else}}
	                                    <span class="label label-danger">禁用</span>
	                                    {{/if}}
                                    </td>
                                    <td><a href="developer-menus.html?action=list&parent_id={{$d.id}}">下级菜单</a></td>
                                    <td>
	                                    <a href="javascript:;" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> 编辑 </a> | 
	                                    <a href="javascript:;" class="btn btn-white btn-sm"><i class="fa fa-times"></i> 删除</a> |
	                                    {{if $d.status=='Y'}}
	                                    	<a href="javascript:;" class="btn btn-white btn-sm"><i class="fa fa-times text-danger"></i> 禁用</a>
	                                    {{else}}
	                                    	<a href="javascript:;" class="btn btn-white btn-sm"><i class="fa fa-check text-navy"></i> 启用</a>
	                                    {{/if}}
                                    </td>
                                </tr>
                            {{/foreach}}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th ><div id="ckboxfull"><input type="checkbox"  class="i-checks">全选</div></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>
                                    	<button class="btn btn-success " type="button">
                                    	<i class="fa"></i>&nbsp;&nbsp;<span class="bold">保存</span>&nbsp;&nbsp;
                                    	</button>
                                    </th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{$footer}}
<script>
$(function(){
	$("#ckboxfull .iCheck-helper").click(function(){
		alert(1);
	});
});
</script>