@CHARSET "UTF-8";
/**
自定义
*/
.lleft100{
	left:-100px;
}
.rleft100{
	left:-100px;
}
.icheckbox_ins{
	position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);
}

.border-green{
	border: 1px solid #1ab394;
}