@CHARSET "UTF-8";
/**
自定义
*/
.lleft100{
	left:-100px;
}
.rleft100{
	left:-100px;
}
.icheckbox_ins{
	position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);
}

.border-green{
	border: 1px solid #1ab394;
}
.red{
	color: red;
}
.width-100{
	width:100px;
}
.width-200{
	width:200px;
}
.width-300{
	width:300px;
}
.width-400{
	width:400px;
}
.width-500{
	width:500px;
}
.width-600{
	width:600px;
}